/*Selector {
	Property: value;
}*/
body{
	background: url(https://i.pinimg.com/originals/a5/3c/c0/a53cc0a1af1b604d39fc9ab437c253fd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
body.German{
	background-image: url(https://d1f7geppf3ca7.cloudfront.net/origin/523870/1533723782347_germany-500x302.gif);
}

.GermanCars{

	display:flex;
	flex-wrap: wrap;
	justify-content: center;

}
.AmericanCars{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.JapaneseCars{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.ItalianCars{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.SwedishCars{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.Contentimg{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;

}
.gif{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}


	
/*img{
	width:300px;
	height:200px;
	transition: all 1s;
}*/
img:hover{
	transform: scale(1.1);
}
h1{
	color:rgb(170,146,57);
	font-size: 80px;
	text-align: center;
	text-decoration: underline;
  	font-family: 'Poiret One', cursive;
	font-style: italic;

}
h2{
	color:rgb(170,146,57);
	font-size: 65px;
	text-align: center;
  	font-family: 'Poiret One', cursive;
	font-style: italic;

}
h3
{
	color:rgb(128,31,21);
	font-size: 50px;
	text-align: center;
	background-color: (0,0,0);
	font-family: 'Poiret One', cursive;
	font-style: italic;
}
h4
{
	color:rgb(132,161,54);
	font-size: 40px;
	text-align: center;
	border-style: solid;
	border-color: rgb(81,0,11);
	font-family: 'Poiret One', cursive;
	font-style: bold;
}
h5
{
	color:rgb(177,0,0);
	font-size: 40px;
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-style: italic;
}
h6
{
	color:rgb(177,0,0);
	font-size: 30px;
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-style: italic;
}
form
{
	color:rgb(177,0,0);
	font-size: 40px;
	text-align: center;
	font-family: 'Poiret One', cursive;
	font-style: italic;
}


