/*Selector {
	Property: value;
}*/
body{
	/*background-image: url(https://cdn.pixabay.com/photo/2016/06/05/07/59/stars-1436950_1280.jpg);
	background-size: cover;*/
	background-color: rgb(5,27,56);
}

.GermanCars{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.AmericanCars{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.JapaneseCars{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.ItalianCars{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.SwedishCars{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

img{
	width:300px;
	height:200px;
}
h1{
	color:rgb(170,146,57);
	font-size: 65px;
	text-align: center;
  	font-family: 'Poiret One', cursive;
	font-style: italic;
}
h2{
	color:rgb(85,32,0);
	font-size: 50px;
	text-align: center;
	border: 5px solid rgb(85,67,0);
	cursor: pointer;
	font-family: 'Poiret One', cursive;
	font-style: italic;
}



